# Ignore everything
*

# Do not ignore directories, so we can include specific files within them
!*/

# Ignore all files in the root directory
/*

# Except the necessary files in this directory
!.gitignore
!__init__.py
!HELP.txt

# Include everything in the EUP directory
!EUP/
!EUP/**

# Ignore __pycache__ directories everywhere
__pycache__/
**/__pycache__/